.login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 30%;
  border-radius: 5px;
}
.login_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.log_button {
  width: 150px;
  height: 28px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  margin-bottom: 10px;
}
